  .clock {
    position: relative;
    text-align: center;
    color: #fdc32d;
    font-size: 60px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 7px;
  }
  
  .textTop, .textBot {
    position: relative;
    text-align: center;
    color: #e98208;
    font-size: 40px;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    letter-spacing: 5px;
    margin-right: 100px;
    margin-left: 100px;
  }
  
   img {
       margin-top: 100px;
       width: 10%;
  }